/* 
    Document   : login.css
    Created on : 11/01/2014, 9:19:50 AM
    Author     : Tony Vu
    Description:
        Purpose of the stylesheet follows.
*/
#ajaxlogin{float:left;}
#ajaxloginModal{text-align: left}
#ajaxloginModal .modal-title{color: #e26703}