/* 
    Created on : 11/01/2014, 9:19:50 AM
    Author     : Tony Vu
    Email      : vuductrung2003@gmail.com
    Description:
        Purpose of the stylesheet follows.
*/

/*.modal-open{overflow: auto}*/

#ajaxloginModal{text-align: left}
#ajaxloginModal .modal-title{color: #e26703}
#ajaxloginModal .smslogin{display: none;}
#ajaxloginModal .divspin{display: none}
#ajaxloginModal .alert-success{margin-bottom: 0; padding: 7px}

#ajaxregisterModal{text-align: left}
#ajaxregisterModal .modal-title{color: #e26703}
#ajaxregisterModal #is_subscribed{display: inline-block; margin-right: 5px}
#ajaxregisterModal .bottommargin{margin-bottom: 10px;}
#ajaxregisterModal .smsregister{display: none; }
#ajaxregisterModal .divspin{display: none}
#ajaxregisterModal .alert-success{margin-bottom: 0; padding: 7px}

.btnlogin{text-decoration: none}

.header{z-index: 1000;}
.fixed {position:fixed; top:0; background: #fff; opacity: 0.95; left: 0; padding: 10px 20px; z-index: 1031}