<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Tvcarousel_Slider>
            <version>0.0.1</version>
        </Tvcarousel_Slider>
    </modules>
    
    <frontend>
        <layout>
            <updates>
                <tvcarousel_slider>
                    <file>carousel.xml</file>
                </tvcarousel_slider>
            </updates>
        </layout>
    </frontend>
</config>