<?xml version="1.0" encoding="UTF-8"?>

<config>

    <sections>
        <carousel tranlate="label" module="slider">
            <label>Carousel Config</label>
            <tab>tvcomthemecustom</tab>
            <frontend_type>text</frontend_type>
            <sort_order>307</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
        </carousel>
        
        <groups translate="label" module="slider">
            <setting translate="label">
                <label>Carousel Setting</label>
                <frontend_type>text</frontend_type>
                <sort_order>2</sort_order>
                <show_in_default>1</show_in_default>
                <show_in_website>1</show_in_website>
                <show_in_store>1</show_in_store>    
            </setting>
        </groups>
    </sections>
</config>