<?xml version="1.0" encoding="UTF-8"?>

<config>
    <sections>
        <yamm tranlate="label" module="slider">
            <label>Yamm Mega Menu</label>
            <tab>tvcomthemecustom</tab>
            <frontend_type>text</frontend_type>
            <sort_order>308</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups translate="label" module="slider">
                <setting translate="label">
                    <label>Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>    
                    <fields>
                        <yes_no translate="label">
                                <label>Use Mega Menu ?</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_enabledisable</source_model>
                                <sort_order>0</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>
                        </yes_no>
 
                        <navbar translate="label">
                            <label>Navigation Bar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>themecustom/option_narbar</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                        
                        </navbar>
                        
                    </fields>
                </setting>    
                
                <category translate="label">
                    <label>Category List</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <catid translate="label">
                            <label>Category Id</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Type Category Id, It will generate all sub level of it</comment>
                        </catid>
                        
                        <ad translate="label">
                                <label>Top Banner</label>
                                <frontend_type>image</frontend_type>
                                <backend_model>adminhtml/system_config_backend_image</backend_model>
                                <upload_dir config="system/filesystem/media" scope_info="1">ad_banner</upload_dir>
                                <base_url type="media" scope_info="1">ad_banner</base_url>
                                <sort_order>40</sort_order>
                                <show_in_default>1</show_in_default>    
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>                                                           
                        </ad>

                        <alt translate="label">
                                <label>Banner alt</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>60</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>    
                        </alt>    
                        
                        <link translate="label">
                                <label>Banner link</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>70</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>    
                                <comment>Example: http://www.example.com/banner.html</comment>
                        </link> 
                        
                    </fields>
                </category>
                
                
                <feature translate="label">
                    <label>Feature Product List</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>87</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>    
                    <fields>
                        <description translate="label">
                            <label><![CDATA[<span style="color:red">Product sku</span>]]></label>
                            <frontend_type>label</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                
                        </description>
                        
                        <product1 translate="label">
                                <label>Product 1</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>10</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>                                
                        </product1>
                        
                        <product2 translate="label">
                                <label>Product 2</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>40</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>                                
                        </product2>
                        
                        <product3 translate="label">
                                <label>Product 3</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>60</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>                                
                        </product3>
                        
                        <product4 translate="label">
                                <label>Product 4</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>90</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>           
                                <comment>Example: VAIO1</comment>                     
                        </product4>
                        
                        <ad translate="label">
                                <label>Bottom Banner</label>
                                <frontend_type>image</frontend_type>
                                <backend_model>adminhtml/system_config_backend_image</backend_model>
                                <upload_dir config="system/filesystem/media" scope_info="1">ad_banner</upload_dir>
                                <base_url type="media" scope_info="1">ad_banner</base_url>
                                <sort_order>100</sort_order>
                                <show_in_default>1</show_in_default>    
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>                                                       
                        </ad>

                        <alt translate="label">
                                <label>Banner alt</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>110</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>    
                        </alt>    
                        
                        <link translate="label">
                                <label>Banner link</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>120</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>                                    
                        </link> 
                        
                    </fields>
                </feature>    
                
                                      
                <sale translate="label">
                    <label>Sale Product List</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>    
                    <fields>
                        <description translate="label">
                            <label><![CDATA[<span style="color:red">Product sku</span>]]></label>
                            <frontend_type>label</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                
                        </description>
                        
                        <product1 translate="label">
                                <label>Product 1</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>10</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>                                
                        </product1>
                        
                        <product2 translate="label">
                                <label>Product 2</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>40</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>                                
                        </product2>
                        
                        <product3 translate="label">
                                <label>Product 3</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>60</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>                                
                        </product3>
                        
                        <product4 translate="label">
                                <label>Product 4</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>90</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>           
                                <comment>Example: VAIO1</comment>                     
                        </product4>
                        
                        <ad translate="label">
                                <label>Left Banner</label>
                                <frontend_type>image</frontend_type>
                                <backend_model>adminhtml/system_config_backend_image</backend_model>
                                <upload_dir config="system/filesystem/media" scope_info="1">ad_banner</upload_dir>
                                <base_url type="media" scope_info="1">ad_banner</base_url>
                                <sort_order>100</sort_order>
                                <show_in_default>1</show_in_default>    
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>                            
                        </ad>

                        <alt translate="label">
                                <label>Banner alt</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>110</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>    
                        </alt>    
                        
                        <link translate="label">
                                <label>Banner link</label>
                                <frontend_type>text</frontend_type>
                                <sort_order>120</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>1</show_in_website>
                                <show_in_store>1</show_in_store>                                    
                        </link> 
                        
                    </fields>
                </sale>    
                                                                                  
              </groups>
        </yamm>
    </sections>
</config>