/*
*   Author: Tony Vu
    Date: 08.12.2013
    Description: Responsive css for hello theme

    Ipad dimension: 768x1024
    Iphone        : 640x960  
    Desktop       : 1200
    Laptop        : 992
*/


/*@media (min-width: 1200px) {}
@media (min-width: 768px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) {}
@media (min-width: 992px) and (max-width: 1199px) {}*/

/* Large desktop */
@media (min-width: 1200px) {
    /* Catalog page */
    .main .span12{}
    /* End Catalog page */
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

@media (max-width:990px){
    /* cart page */
    .extradiv{padding-left:0; padding-right:0; margin-top:20px}
    
    /* custoner login */
    .registered-customer{margin-top: 20px}
    /* homepage*/
    .img-responsive{display: inline-block}
    .l_block{text-align: center}
    .r_block, .m_block{text-align: center; padding-top:10px}
}

/* Landscape phone to portrait tablet */
@media (min-width:768px){
    /* quick access nav */
    .quick-access{text-align: right}   
    .navbar-header .navbar-brand, .navbar-inverse .navbar-brand{display: none;}
}
@media (max-width: 767px) {
    .col-right{margin-top: 20px;}
    
    /* quick access nav */
    .quick-access{text-align: left; padding-top: 15px; clear: both}
    .header .links{margin: 0px 0 6px}
    .header .links .myaccount-text, .header .links .logout-text, .header .links .login-text, .header .links .cart-text, .header .links .checkout-text, .header .links .wishlist-text{display: none}
    .header .links .myaccount-icon, .header .links .logout-icon, .header .links .login-icon, .header .links .cart-icon, .header .links .checkout-icon, .header .links .wishlist-icon{font-size: 1.5em}
    .header .welcome-box{float: right; text-align: right}
    .header .toplink-div{float: left; margin-bottom: 10px;}
    /* custoner login */
    .registered-customer .required{text-align: left; margin-top: 10px}    
    
    /* My Dashboard */
   /* .col-order-date, .col-ship-to, .col-order-total, .col-order-status{display: none !important}*/
   .order-history-wrapper{width: 100%; overflow-y: hidden; overflow-x: scroll;}
    .box-account{width: 100%; overflow-y: hidden; overflow-x: scroll; padding: 10px; border: 1px solid #dddddd; display: inline-block}
    /*.title-buttons{text-align: left}*/
    /* checkout /cart */
    .cart .totals{margin-top: 20px}
    .cart > form {width: 100%; overflow-y: hidden; overflow-x: scroll; padding: 10px; border: 1px solid #dddddd; display: inline-block}
   /* #shopping-cart-table .item-editable, #shopping-cart-table .item-image, #shopping-cart-table .col-wishlist{display: none}*/
   
    /* catalog category */
    .pager-responsive .amount, .pager-responsive .limiter label{display: none}
    .pager-responsive .pagination{text-align: left}    
    .sorter .view-mode{padding-left:0}
    
    /* homepage */
    .home-callout{display: none}
    
    /* product page / additional information */
    #product-attribute-specs-table .data{padding-left:0} 
    
    /* wishlist */
  /*  #wishlist-table .row0{display: none}*/
    .my-wishlist #wishlist-view-form {width: 100%; overflow-y: hidden; overflow-x: scroll; padding: 10px; border: 1px solid #dddddd; display: inline-block}
    /* left bar */
    .col-left.sidebar{margin-top: 20px;}
    
    /* bootstrap 3 fix the scroll bar of Navbar on Mobile device */
    .navbar-collapse {max-height: none;}
    .dropdown-menu{padding-left: 8px;}
    
    /* footer */
    .footer .footer-right{text-align: left}
    
    #popupcart{left: 15px;}
    
    /* My downloadable product 
    #my-downloadable-products-table .orderid, #my-downloadable-products-table .date{display: none}*/
    .downloadable-product-wrapper {width: 100%; overflow-y: hidden; overflow-x: scroll; padding: 10px; border: 1px solid #dddddd; display: inline-block}
    .usp i{font-size: 1.5em}
    
    .block-tags{display: none}
    
    /* new arrival */
    .jcarousel-prev i, .jcarousel-next i, .bestsale-jcarousel-prev i, .bestsale-jcarousel-next i{font-size: 1em}
    
    /* homepage */
    .main-banner1 {text-align: center}
    .main-banner2 {text-align: center; padding-top: 10px}
    .header .form-language .input-group{float: left}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    
    /* catalog category */
    .block-compare, .block-poll, .block-viewed, .paypal-logo, .block-wishlist{display: none}
    .col-main .category-image{display: none}
    .sorter .sort-by{padding-right: 0}
    /* catalog product view */
    .products-list .product-shop{margin-left: 0}
    .sorter .sort-by label{display: none}
    
    /* product options */
    .product-options{padding: 0}
    
    /* onepage checkout */
    .data-table td {padding:3px 8px;}
    .data-table thead th{padding:3px 2px;}    
    .cart .title-buttons .checkout-types{float:left; margin-top: 10px;}
    .order-review .buttons-set button.button{float: left; margin-left: 0}
    
    /* product review */
    #product-review-table th{padding: 3px}
    #product-review-table input[type="radio"]{margin:0; }
    
    .usp .icon{display: none}
    .bestsale h3, .newarrival h3{font-size: 20px !important;}
    
    
    /*homepage*/
    .mainblocks{display: none}
    
}
