<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Tvlogin_Ajax>
            <version>0.0.1</version>
        </Tvlogin_Ajax>
    </modules>
    
    <global>
        <helpers>
            <ajax>
                <class>Tvlogin_Ajax_Helper</class>
            </ajax>
        </helpers>
    </global>
    
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tvajaxlogin_setting translate="label" module="ajax">
                                            <title>Setting</title>
                                        </tvajaxlogin_setting>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    

    <layout> <!-- layout upadte -->
        <updates>
            <tvlogin_ajax>
                <file>ajaxlogin.xml</file>
            </tvlogin_ajax>
        </updates>
    </layout>

    
</config>