<?xml version="1.0"?>

<config>
    <tabs> <!-- create a new tab in system / configuration -->
        <tvcomthemecustom translate="label" module="themecustom">
            <label>TVcom Theme Custom</label>
            <sort_order>1</sort_order>
        </tvcomthemecustom>
    </tabs>
    
    <sections> <!-- create a new sections -->
        <setting translate="label" module="themecustom">
            <label>Setting</label>
            <tab>tvcomthemecustom</tab>
            <frontend_type>text</frontend_type>
            <sort_order>305</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <themebg translate="label"> <!-- theme background -->
                    <label>Background</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <bgcolor translate="label">
                            <label>Background color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate> 
                            <!-- <source_model></source_model>-->
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bgcolor>     
                        
                 <!--       <bgimage translate="label">
                            <label>Background image</label>
                            <frontend_type>file</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bgimage>  -->  
                                    
                    </fields>
                </themebg>      
                
                <themefont translate="label"> <!-- theme font -->
                    <label>Font</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>    
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <goofont translate="label">
                            <label>Google Font</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>    
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Example:</comment>
                        </goofont>
                        
                        <fontfamily translate="label">
                            <label>Font family</label>
                            <fontend_type>text</fontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fontfamily>
                        
                        <fontsize translate="label">
                            <label>Font size</label>
                            <font_type>text</font_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fontsize>
                        
                         <textcolor translate="label">
                            <label>Text color</label>
                            <font_type>text</font_type>
                            <validate>color</validate> 
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            
                        </textcolor>
                    </fields>
                </themefont>         
                
                <header translate="label"> <!-- header -->
                    <label>Header</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                </header>
                
                 <footer translate="label"> <!-- footer -->
                    <label>Footer</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                </footer>
                
            </groups>
        </setting>
    </sections>
</config>
