<?xml version="1.0"?>

<config>
    <tabs> <!-- create a new tab in system / configuration -->
        <tvcomthemecustom translate="label" module="themecustom">
            <label>TVcom Theme Custom</label>
            <sort_order>1</sort_order>
        </tvcomthemecustom>
    </tabs>
    
    <sections> <!-- create a new sections -->
        <setting translate="label" module="themecustom">
            <label>Setting</label>
            <tab>tvcomthemecustom</tab>
            <frontend_type>text</frontend_type>
            <sort_order>305</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <themebg translate="label"> <!-- theme background -->
                    <label>Background</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <bgcolor translate="label">
                            <label>Background color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate>                             
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bgcolor>     
                        
                        <bgimage translate="label"> <!-- body background image -->
                            <label>Background image</label>                           
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">bgimage</upload_dir>
                            <base_url type="media" scope_info="1">bgimage</base_url>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bgimage>    
                                    
                        <bgpositionx translate="label"> <!-- background position x -->
                            <label>Background position x</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bgpositionx>
                                               
                        <bgpositiony translate="label"> <!-- background position y -->
                            <label>Background position y</label>
                            <fronend_type>text</fronend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>        
                        </bgpositiony>
                        
                        <bgrepeat translate="label"> <!-- background repeat -->
                            <label>Background repeat</label>
                            <frontend_type>select</frontend_type>
                            <source_model>themecustom/background_repeat</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bgrepeat>
                        
                    </fields>
                </themebg>      
                
                <themefont translate="label"> <!-- theme font -->
                    <label>Font</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>    
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <goofont translate="label">
                            <label>Google Font</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>    
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Example: <br/> &lt;link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'&gt;]]></comment>
                        </goofont>
                        
                        <fontfamily translate="label">
                            <label>Font family</label>
                            <fontend_type>text</fontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fontfamily>
                        
                        <fontsize translate="label">
                            <label>Font size</label>
                            <font_type>text</font_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fontsize>
                        
                         <textcolor translate="label">
                            <label>Text color</label>
                            <font_type>text</font_type>
                            <validate>color</validate> 
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            
                        </textcolor>
                    </fields>
                </themefont>         
                
                <header translate="label"> <!-- header -->
                    <label>Header</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <logo translate="label">
                            <label>Company Logo</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">logo</upload_dir>
                            <base_url type="media" scope_info="1">logo</base_url>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>    
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                        </logo>
                        
                        <logoalt translate="label">
                            <label>Logo Alt</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>    
                        </logoalt>
                    </fields>
                </header>
                
                 <footer translate="label"> <!-- footer -->
                    <label>Footer</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                </footer>
                
            </groups>
        </setting>
    </sections>
</config>
