<?xml version="1.0" encoding="UTF-8"?>

<config>
    <sections>
        <block tranlate="label" module="blockcustom">
            <label>Promotion Blocks</label>
            <tab>tvcomthemecustom</tab>
            <frontend_type>text</frontend_type>
            <sort_order>450</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups translate="label" module="slider">
                <newarrival translate="label">
                    <label>New Arrival List</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>Add product sku to show them in HOMEPAGE > NEW ARRIVAL</comment>
                    <fields>                      
                        <product translate="comment">
                            <label>Add product sku</label>
                            <frontend_model>mega/textfields</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product>      
                    </fields>
                </newarrival>    
                
                <bestsale translate="label">
                    <label>Best Sale List</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>Add product sku to show them in HOMEPAGE > NEW ARRIVAL</comment>
                    <fields>                      
                        <product translate="comment">
                            <label>Add product sku</label>
                            <frontend_model>mega/textfields</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product>      
                    </fields>
                </bestsale>    
                
              </groups>
        </block>
    </sections>
</config>